.addUser
    background-color: #fff
    padding-top: 25px
    padding-bottom: 25px
    width: 300px
    margin-left: 175px
    margin-top: 20px
    margin-right: 0
    color: #fff
    border: 3px solid white
    border-radius: 4px
    color: black
    input:not([type="checkbox"]), textarea, button   
        border: 2px solid black
        color: black
        width: 80%
        margin: 10px 25px 10px 25px
        height: 35px
        border-radius: 3px
    label 
        width: 30%
        margin-right: 0
        margin-left: 25px
        display: inline-flex

    button
        color: #000
        font-weight: bold
        cursor: pointer
    button:hover
        border: 3px solid black
        border-radius: 5px
        
        

.addUser:hover
    border: 3px solid white
    border-radius: 4px

.checkbox
    display: inline-flex
    height: 15px
    width: 15px
