body
    background-color: #000

.main
    width: 60%
    margin-right: 0
    &-wrap
        display: flex
.comment
    &__number
        border: 2px solid white
        border-radius: 5px
        box-shadow: 6px 6px 1px 0px #fff
        padding: 5px
        font-family: Ubuntu, sans-serif
        width: 100%
        height: 75px
        margin: 25px
        background-color: #fff
        transition-property: box-shadow
        transition-duration: 0.5s

        h3
            color: #000
            font-size: 15px
            margin-bottom: 5px
            font-weight: 800

    &__number:hover
        box-shadow: 1px 1px 1px 0px #fff    
    &-wrap
        display: flex
        justify-content: space-between
        
        em
            font-size: 14px
    
.delete-icon
    float: right
    margin: 5px
    cursor: pointer
    font-size: 20px
    transition-property: scale
    transition-duration: 1s

.edit-icon 
    float: right
    margin: 5px
    cursor: pointer
    font-size: 20px
    transition-property: scale
    transition-duration: 1s

.edit-icon:hover
    opacity: 0.5
    scale: 1.5

.delete-icon:hover
    opacity: 0.5
    scale: 1.5

